<div class="row">
    <div class="col-3 col-sm-2">
        <div id="indexHeaderFlag"></div>
    </div>
    <div class="col-6 col-sm-8">
        <span id="headlineHeader">Amnesty-Türkei-Berlin</span>
    </div>
    <div class="col-3 col-sm-2 float-right">
        <a href="https://www.facebook.com/amnesty1547" target="fenster" ng-click="window.open('link.html', 'fenster')"><div id="indexHeaderImg1"></div></a>
    </div>
</div>
<div ng-include="'templates/naviTop.html'"></div>


<!--TwitterIcon:
a ng-href=""><img ng-src="{{indexHeaderImg3.src}}" alt="{{indexHeaderImg3.altname}}" id="indexHeaderImg3" /></a-->	 
<!--Ggf. TwitterLink:-->
<!--<a ng-href=""><img ng-src="{{indexHeaderImg2.src}}" width=40 height=40 alt="{{indexHeaderImg2.altname}}" id="indexHeaderImg2" /></a>-->


