  
<h3>Impressum</h3>				  
<div id="node-5365" class="node">
<div class="content">
    <h4>Amnesty International</h4>
<p>Sektion der Bundesrepublik Deutschland e.V.</p>
<h4>Anschrift</h4>
<p>Zinnowitzer Straße 8<br />
10115 Berlin</p>
<p>T: +49 (0)30 / 420248-0<br />
F: +49 (0)30 / 420248-488<br />
E: <a href="mailto:info@amnesty.de">info@amnesty.de</a><br />
W: <a ng-href="http://www.amnesty.de" title="www.amnesty.de" target="fenster" ng-click="window.open('link.html','fenster')">www.amnesty.de</a></p>
<h4>Vertretungsberechtigter Vorstand</h4>
<p>Gabriele Stein, Roland Vogel</p>
<p>Registergericht: Amtsgericht Köln<br />
Registernummer: VR 5588<br />
USt-IdNr.: DE 122 123 810</p>
<h4>Inhaltlich Verantwortlicher gemäß § 55 Abs. 2 RStV, § 5 TMG</h4>
<p>Gabriele Stein und Roland Vogel, Amnesty International, Sektion der<br />
Bundesrepublik Deutschland e.V., Zinnowitzer Straße 8, 10115 Berlin</p>
<h4>Verantwortlich für Inhalte aus dem Amnesty Journal</h4>
<p>Anton Landgraf, Amnesty International, Sektion der Bundesrepublik Deutschland e.V., Zinnowitzer Straße 8, 10115 Berlin</p>
<h4>Haftungshinweis</h4>
<p>Diese Website enthält Verknüpfungen zu Websites Dritter ("externe Links"). Diese Websites unterliegen der Haftung der jeweiligen Betreiber. Amnesty International hat bei der erstmaligen Verknüpfung der externen Links die fremden Inhalte daraufhin überprüft, ob etwaige Rechtsverstöße bestehen. Zu dem Zeitpunkt waren keine Rechtsverstöße ersichtlich. Amnesty International hat keinerlei Einfluss auf die aktuelle und zukünftige Gestaltung und auf die Inhalte der verknüpften Seiten. Das Setzen von externen Links bedeutet nicht, dass sich Amnesty International die hinter dem Verweis oder Link liegenden Inhalte zu Eigen macht.</p>
<h4>Geltungsbereich</h4>
<p>Dieses Impressum gilt auch für Social Media Auftritte (z.B. auf facebook, twitter, flickr und youtube) von Gruppen der Amnesty International Sektion der Bundesrepublik Deutschland.</p>
<p><a href="https://www.amnesty.de/datenschutzhinweise" title="Datenschutzhinweise">Hinweise zum Datenschutz</a></p>
<p><em>Bitte beachten Sie auch die <a href="https://www.amnesty.de/kommentarregeln" title="Kommentarregeln lesen">Kommentarregeln</a> für Beiträge von NutzerInnen auf Internetseiten von Amnesty Deutschland.</em></p>
  </div>

  <div class="clear-block clear">
      </div>
</div>				  <span class="clear"></span>
				  				  <div id="footer">
</div>
			  </div></div></div></div> <!-- /.left-corner, /.right-corner, /#squeeze, /#center -->

			  				<div id="sidebar-right" class="sidebar">
				  				  <div id="block-flexible_blocks-944" class="clear-block block block-flexible_blocks flexible-blocks-aib-projektsuche">
<!-- Block container - AIB: Projektsuche -->
					<div class="flexible_block_container">
												
                        
						<div id="flexible_block_944" class="content">
						<form action="/impressum"  accept-charset="UTF-8" method="post" id="aib-project-search-form">

<noscript><p><a href="http://www.etracker.com"><img style="border:0px;" alt="" src="https://www.etracker.com/nscnt.php?et=EjVWEb&amp;et_areas=Amnesty-Website&amp;et_pagename=/impressum&amp;et_target=,," /></a></p></noscript>
<!-- etracker CODE END -->

<!--a href="https://www.amnesty.de/impressum" target="_blank">https://www.amnesty.de/impressum</a></p>
<p><strong>Technische*r Ansprechpartner*in:</strong></p>
<p>Alexander Paetzelt<br />
Kontakt: admin [ät] queeramnesty-berlin.de</p>
<p><strong>Ansprechpartner*in Redaktion:</strong></p>
<p>Claude Beier<br />
Kontakt: redaktion [ät] queeramnesty-berlin.de</p>
<p><strong>Urheberrechtshinweise:</strong></p>
<p>Hinweise zum Urheberrecht erfolgen in der Regel direkt in den Beiträgen.<br />
Das Hintergrundbild der Webseite ist von Greg Rødland Buick, Amnesty International, Norwegen.<br />
Das Facebook-, Twitter- und RSS-Icon im rechten Widget-Bereich wurde durch &#8222;<a href="https://www.iconfinder.com/iconsets/iconsimple-logotypes" target="_blank">pixan</a>&#8220; erstellt und steht unter <a href="https://creativecommons.org/licenses/by/2.5/" target="_blank">Creative Commons Lizenz (CC BY 2.5)</a>.</p>
<p><strong>Datenschutzhinweise:</strong></p>
<p>Es gelten die Datenschutzhinweise von Amnesty International Deutschland:<br />
<a href="https://www.amnesty.de/datenschutzhinweise" target="_blank">https://www.amnesty.de/datenschutzhinweise</a></p>
<p>Auf dieser Seite werden Google Web Fonts verwendet. Durch den Zugriff auf externe Google-Server könnte dort zum Beispiel Ihre IP-Adresse aufgezeichnet werden. Es gelten entsprechend die <a href="http://www.google.de/intl/de/policies/privacy/">Datenschutzhinweise</a> von Google.</p>
          </div><!-- .entry-content -->
    <!--footer class="entry-meta">
          </footer><!-- .entry-meta >
  </article--><!-- #post -->
        
<!--div id="comments" class="comments-area"-->
