<div ng-controller="naviTopCtrl">
    <div class="row" id="naviTop">
        <div class="col-12">
            <div id="sandwich"></div>
        </div>
        <div class="list-group" id="subNavi">  	
            <a href="#/aktuelles"><div class="list-group-item">AKTUELLES</div></a>
            <a href="#/gruppe"><div class="list-group-item">UNSERE GRUPPE</div></a>
            <a href="#/termine"><div class="list-group-item">TERMINE</div></a>
            <a href="#/actions"><div class="list-group-item">ACTIONS</div></a>
            <a href="#/kontakt"><div class="list-group-item">KONTAKT</div></a>
            <a href="#/impressum"><div class="list-group-item">IMPRESSUM</div></a>              
        </div>  
    </div>                         
</div>
