<h3>Materialsammlung</h3>
Hallo {{halloMember}}!<br>
<div class="row" style="text-align: center">Hier liegen Links zu DOCs, PDFs, Excel-Listen usw.<br>
 <div class="col-sm-4">Bilder<br>
	<a ng-href="assets/twitterIcon.png"  target="fenster" ng-click="window.open('link.html','fenster')">Icon</a><br>
 	<a ng-href="assets/MRsindNichtVerhandelbar.png"  target="fenster" ng-click="window.open('link.html','fenster')">Schriftzug Menschenrechte sind nicht verhandelbar</a><br>
 </div>
 <div class="col-sm-4" id="internTexts">Texte<br>

 </div>
 <div class="col-sm-4">Flyer<br>
	<a ng-href="assets/TuerkeiFlyerAug2016_Seite1.pdf"  target="fenster" ng-click="window.open('link.html','fenster')">Flyer Elci/Keske1</a><br>
	<a ng-href="assets/TuerkeiFlyerAug2016_Seite2.pdf"  target="fenster" ng-click="window.open('link.html','fenster')">Flyer Elci/Keske2</a><br>
 </div>
<div class="col-sm-12">
	<button ng-click="internAusblenden()">schließen</button>
</div>
 

 
 
 
