
<div class="row">
    <div class="col-sm-1"></div>
    <div class="col-sm-9">
        <h3>Eingabe</h3>

        Hallo {{halloMember}}!<br>
        Zwei Sachen bitte beachten: <br>
        Wenn Du einen Umbruch im Text willst, so gib an der Stelle '<code>&lt;br&gt;</code>' mit ein, für einen Link bitte '<code>&lt;a href="http://linkZumThema.de"&gt;</code><span style="color:blue"> hier klicken </span><code>&lt;/a&gt;</code>' eingeben.<br>
        Deine neue Nachricht:<br>
        <br>
        <div ng-init="member.inputDate=(date | date:'dd.MM.yyyy')">{{member.inputDate}}</div>
        <form  id="mbInputForm" data-ng-submit="addFile()"><!--method="post" action="php/dataPHP.php"-->      
            <input type="hidden" ng-model="member.lgUser = lgUser">             
            <input type="text" ng-model="member.inputAuthor" placeholder="Autor"><br>
            <br>
            <input type="text" ng-model="member.inputTopic" placeholder="Thema"><br>

            <br>
            <textarea ng-model="member.inputNews" cols=80 rows=3 placeholder="Hauptnachricht"></textarea><br><br>
            <br>
            <textarea ng-model="member.inputMoreInfo" cols=80 rows=3 placeholder="mehr"></textarea><br><br>
            <label for="uploadImage">Bild hochladen
                <input type="file" id="uploadImage" accept="image/*">
            </label>
            <!--Bild:<br><input type="file" name="img" multiple onchange="angular.element(this).scope().uploadFile(this)"> <!--size="20" id="fileUpload"><!-- --><!--br>
            Bildname:<br><input type="text" ng-model="member.bildDaten"><br-->
            <p style="color:blue">
                <u>Deine Eingabe:</u><br>
                <i>

                    {{member.inputDate}}<br>                
                    Autor: {{member.inputAuthor}}<br>
                    Thema: <br>{{member.inputTopic.toUpperCase()}}<br>
                    Kurzinfo: <br>{{member.inputNews}}<br>
                    mehr:<br>{{member.inputMoreInfo}}                

                </i><br>
            </p> 

            <input type="button" ng-click="sendDataNews(member)" value="Daten einf&uuml;gen" ng-disabled="mbInputForm.$invalid"/><br><br>                       
        </form>
        <button ng-click="formAusblenden()">Logout</button>
        <button ng-click="changeInput()">Eintrag ändern</button>               
    </div>
    <div class="col-sm-1"></div>
    <div class="col-sm-1"><img src="assets/crossRed.png" alt="x-Button" border="0" width="15" height="15" id="x-button" ng-click="formAusblenden()">
    </div>
</div>